.sign-in-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;

}

.metamask-img {
    width: 50%;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 

.why-metamask {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.button-placeholder {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.wallet-page {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
    grid-gap: 2rem;
}


.wallet-options {

    width: 15%;
}

.wallet-dropdown {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 15%;
}

.different-wallet {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

