.wholeThing {
    /* border: red solid; */
}

.sign-in-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
}

.metamask-img {
    width: 50%;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
    margin-left: 12rem;
    margin-right: 0px;
    padding-right: 0px;
} 

.img-div {
    justify-items: end;
    justify-self: end;
    padding-right: 0px;
    margin-right: 0px;
}

.metamaskQuestion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 8rem;
}

#walletButton {
    grid-column: 2 / 3;
    justify-self: start;
    align-self: center;
    background-color: var(--blue-gradient-start);
    background-image: var(--blue-gradient);
    color: white;
    width: 50%;
    height: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 162, 255);
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#walletButton:hover {
    background-color: rgb(98, 205, 255);
    background-image: none;

}

.wallet-page {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr;
}

#main {
    display: flex;
    flex-direction: column;
}


.wallet-options {

    width: 15%;
}

.wallet-dropdown {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 15%;
}

.different-wallet {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

