.UserContainer{
  min-height: 100%;
  width: 100%;
}

.UserStyleContainer{
  height: 20vh;
  width: 100%;
  background-color: red;
}

.ProfileBannerContainer{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ProfileBannerContainer img{
  width: 100%;
}

.ProfilePicContainer{
  height: 6rem;
  width: 6rem;
  background-color: blue;
  overflow: hidden;
  display: flex;

  border-radius: 50%;
  box-shadow: 1rem 1rem 1rem -0.5rem var(--shadow-color);
}

.ProfilePicContainer{
  max-width: 100%;
  max-height: 100%;
}

.UserAssets{
  width: auto;
  margin: 0 20vmin;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
