.UserContainer{
  min-height: 100%;
  height: 95vh;
  width: 100%;
  /* border: red solid; */

}

.UserStyleContainer{
  height: 20vh;
  width: 100%;
  background-color: var(--sidebar-active);
  background-position: center;
  background-size: cover;
}

.ProfileInfo{
  position: relative;
  left: 5rem;
  top: calc(100% - 5rem);
  min-width: 18rem;
  max-height: 6rem;
  width: max-content;
  background-image: var(--blue-gradient);
  border-radius: 1000px;
  color: white;

  display: flex;
  align-items: flex-end;

  padding-right: 1rem;
}

.ProfileInfo p{
  margin: auto;
}

.ProfilePicContainer{
  min-height: 6rem;
  min-width: 6rem;
  height: 15vmin;
  width: 15vmin;

  background-color: blue;
  overflow: hidden;
  display: flex;


  border-radius: 50%;
  box-shadow: 1rem 1rem 1rem -0.5rem var(--shadow-color);
}

.UserAssetContainer{
  margin: 0 20vmin;
  margin-top: 5rem;
  text-align: start;
}

.CreateButton{
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;

  background-color: var(--pink-gradient-start);
  background-image: var(--pink-gradient);

  color: white;
  border: none;
  border-radius: 999rem;
}

.CreatePlus{
  font-weight: bold;
  font-size: 1.5rem;
}

.CreateButton p{
  margin: auto;
}

.UserAssets{
  width: auto;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
