.UserContainer{
  min-height: 100%;
  width: 100%;
}

.UserStyleContainer{
  height: 20vh;
  width: 100%;
  background-color: var(--sidebar-active);
  background-position: center;
  background-size: cover;
}

.ProfileInfo{
  position: relative;
  left: 5rem;
  top: calc(100% - 5rem);
  min-width: 18rem;
  max-height: 6rem;
  width: max-content;
  background-image: var(--blue-gradient);
  border-radius: 1000px;
  color: white;

  display: flex;
  align-items: end;

  padding-right: 1rem;
}

.ProfileInfo p{
  margin: auto;
}

.ProfilePicContainer{
  min-height: 6rem;
  min-width: 6rem;
  height: 15vmin;
  width: 15vmin;

  background-color: blue;
  overflow: hidden;
  display: flex;

  border-radius: 50%;
  box-shadow: 1rem 1rem 1rem -0.5rem var(--shadow-color);
}

.UserAssets{
  width: auto;
  margin: 0 20vmin;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
