*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
    font-size:  3rem;
}

.AssetContainer {
    width: 100%;
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;
    height: 95vh;
}

.AssetContent {
    width: 80%;
    height: 100%;
    max-height: 50vh;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto 1fr 1fr;
    column-gap: 2rem;
    margin: auto;
    align-items: center;
}

.tokenDescription{
    text-align: left;
    min-height: 20vmin;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.TinyImg{
    image-rendering: crisp-edges;
}

.AssetImage {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    justify-self: end;    
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 1rem;
}

.AssetButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.AssetButtonContainer ProgressBar{
    width: 100%;
}

.button {
    background-image: var(--pink-gradient);
    background-color: var(--pink-gradient-start);
    width: 4rem;
    height: auto;
    cursor: pointer;
    transition-duration: 0.2s;

}

.button:hover {
    background-image: var(--pink-gradient-start);
    background-color: lightpink;
}

.priceField {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: left;
}

.renderToggles {
    grid-column: 2 / 3;
    align-self: center;
    grid-row: 6 / 7;
    justify-self: left;
}

.tokenName {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    text-align: left;
}

.tokenCollection {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
}

.tokenOwner {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
}

/* experimental radio styles that won't be needed for the asset page, maybe the donate page 

.charityRadio {
    font-size: 1.5rem;
    color: var(--pink-gradient-end);
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    justify-content: center;
} 

.charityInput {
    display: flex;
    flex-direction: row;
}

.charityInputControl {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid var(--pink-gradient-start);
    transform: translateY(-0.05em);
} */
