:root{
    --card-bg-color: #fb61ba;
}

/*.frag {
     background-color: red; 
}*/


.card-container{
    background-color: var(--pink-gradient-start);
    background-image: var(--pink-gradient);
    /* background-color: chartreuse; */

    display: grid;
    width: 20.25rem;;
    height: 18rem;
    grid-template-columns: 4fr 0.75fr;
    /* margin-left: auto; */
    border-radius: 1rem;

    box-shadow: 1rem 1rem 1rem -0.75rem var(--shadow-color); /* change 1: added box-shadow */
}

.img-container{
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--blue-gradient-start);
    background-image: var(--blue-gradient);
}

.image-link {
    display: grid;
    place-items: center;            /* CHANGE 2 (entire image link) */
    height: 100%;
}


.card-image{
    min-height: 100%;
    min-width: 100%;
    image-rendering: auto; /* Change 3: applied min- to both height and width, also added image-rendering */
}

.tiny-img {
    image-rendering: crisp-edges !important; /* Change 4: added the .tiny-img */
}

.card-body{
    width: 100%;
    overflow: hidden;
}

.card-text{
    /*padding: 0px 0px 0px 10px;*/
    padding-left: 1.5rem; /* Change 5: Added padding-left */
    transform: rotate(90deg);
    /* height: 50px; */
 
}

.card-text a{
  color: white;
  text-decoration: none;
}

.card-text h4 /* Change 6: added card-text's h4, before it used to be only h5 */
.card-text h5{
    width: 16.0rem;
    font-weight: normal;
    text-align: left;
    /* transform: rotate(180deg); */
}