:root{
    --card-bg-color: #fb61ba;
}

.card-container{
    background-color: var(--pink-gradient-start);
    background-image: var(--pink-gradient);
    display: grid;
    width: 20.25rem;;
    height: 18rem;
    grid-template-columns: 4fr 0.5fr;
    /* margin-left: auto; */
    border-radius: 1rem;
}

.img-container{
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--blue-gradient-start);
    background-image: var(--blue-gradient);
}

.card-image{
    height: 100%;
    min-width: 100%;
}

.card-body{
    width: 100%;
    overflow: hidden;
}

.card-text{
    /*padding: 0px 0px 0px 10px;*/
    padding-left: 1.5rem;
    transform: rotate(90deg);
    /* height: 50px; */
 
}

.card-text a{
  color: white;
  text-decoration: none;
}

.card-text h3, .card-text h5{
    width: 16rem;
    font-weight: normal;
    text-align: left;
    /* transform: rotate(180deg); */
}
