.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 25%;

    margin: auto 0;
    height: 50vh;
    justify-content: center;
  }
  
.sidebar-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    outline: none;
    height: min-content;
}

.sidebar-item.active{
  height: max-content;
}

.sidebar-listheader{
  margin: 0;
  text-align: inherit;
}

.list-items-container{
  margin-left: 1rem;
  height: 100%;
  display: none;
}

.active .list-items-container{
  display: flex;
  flex-direction: column;
}
