:root{
  --pink-gradient-start: #fb61ba;
  --pink-gradient-end: #ff839d;
  --blue-gradient-start: #459bdb;
  --blue-gradient-end: #6f12e0;

  --sidebar-inactive: #f6e9ef;
  --sidebar-active: #fff5f7;
}

.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 25%;

    margin: 0;
    height: 50vh;
    width: 12rem;
    justify-content: center;

    background-color: var(--sidebar-inactive);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
  
.sidebar-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    margin: 0;
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    outline: none;
    height: min-content;

    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.sidebar-item.active{
    height: 100%;
    width: 100%;
    background-color: var(--sidebar-active);
}

.sidebar-listheader{
    margin: 0;
    width: 100%;
    text-align: inherit;
    padding: 0.5rem 0;
    padding-left: 1rem;
}

.active .sidebar-listheader{
    width: 12rem;
    display: block;
    color: white;
    background-color: var(--blue-gradient-start);

    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.list-items-container{
    margin-left: 1rem;
    display: none;
    overflow: hidden;
}

.active .list-items-container{
    height: 100%;

    display: flex;
    flex-direction: column;
}

.list-item{
    margin: 0.25rem;
}
