
.homepage {
    margin-top: 8px;
    border: 2px red solid;
    display: grid;
}

.homepage-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 2px darkgreen solid;
}

.homepage-top-left{
    background-color: transparent;
    font-size: 35px;
    margin-right: 60px;
    border: 2px blue solid;

}

.homepage-top-left-button-container{
    margin-top: 200px;
    /* text-align: center; */
    /* margin-left: 25%; */
    width: max-content;
    border: 2px orange solid;
    margin-left: auto;
    margin-right: auto;



}

.top-button-left{
    margin-right: 20px;
    font-size: 25px;
    background-color: white;
    border-radius: 0.5rem;
    color: var(--blue-gradient-start);
    padding: 15px 40px 15px 40px;
    border: 2px lightgreen solid;
    cursor: pointer;
}

.top-button-right{
    /* margin-right: 20px; */
    font-size: 25px;
    background-color: var(--blue-gradient-start);
    color: white;
    border-radius: 0.5rem;
    padding: 15px 40px 15px 40px;
    border: 2px purple solid;
    cursor: pointer;
}

.homepage-top-right{
}

.homepage-middle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.create-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:5em;
}

.create-item{

}

.homepage-bottom {
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px; /* Very temporary */
    /* border: red solid; */
}

.browse-by-category-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 2em;
}

.categories{
    border: 1px solid black;
    border-radius: 0.5rem;
}

.categories:hover{
    box-shadow: 0rem 0rem 1rem 1rem #17151522;
}

.categoryBtn {
    margin-top: 5px;
    /* background-color: red; */
    background: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.175);
    padding: 5px;
    cursor: pointer;

}