* {
  /* background-color: black */
}

.wholeThing {
  border: blue solid;
  height: 80vh;
  max-height: 100vh;
  /* padding-bottom: 22.5vh; */
  position: relative;
  margin-top: 17px;
}

.charitySelect {
    margin-top: 15px;
    margin-bottom: 5px;
}


.allCharitiesButton {
    background-color: #3498DB;
    color: white;
    padding: 14px;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
    /* border: lime solid; */
}
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown_eric {
    margin-top: 12px;
    position: relative;
    display: inline-block;
    /* border: orange solid; */
    /* margin-bottom: 300px; */
  }
  
  .dropdown-content_eric {
    display: none;
    background-color: #f1f1f1;
    min-width: max-content;
    padding-left: 3px;
    padding-right: 3px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: auto;

    /* border: red solid; */

    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    /* position: absolute;
    z-index: 1; */

}
  
  .dropdown-content_eric a {
    color: black;
    /* padding: 8px 50px 8px 50px; */
    
    min-width: max-content;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;

    text-decoration: none;
    display: block;

    transition: background 500ms;
  }
  
  .dropdown_eric a:hover {
    background-color: #c3c3c3;
  }
  
  .show {display: block;}


  .donateButtonDiv {
      /* display: block; */
      /* margin: auto; */
      /* border: lightgreen double; */
      /* position: fixed; */
      
      /* width: max-content; */
      /* bottom: 3.5vh; */
      /* margin-bottom: 10vh; */

      /* position: absolute; */
      /* bottom: 10px; */
      /* margin-left: 50vw; */

      /* padding-top: 25%; */
    }

  .donateButton {
      background-color: #3498DB;
      color: white;
      padding: 10px;
      font-size: 13px;
      cursor: pointer;

      margin-top: 10%;
      
      /* outline: springgreen solid; */

      /* position: absolute; */
      /* margin: 0 auto;
      display: block; */

      /* margin-top: 50px; */
      /* left: 25%; */

      /* bottom: 50px;  */
    }
  
  
  .nftInfo {
    margin-top: 4px;
    /* outline: 2px turquoise solid; */
    margin-left: 4vw;
    max-width: max-content;
  }
  
  .nftName {
    text-align: center;
    /* margin-left: 4vw; */
  }
  
  .nftImg {
    width: 15vw;
    height: 24vh;
    /* float: left; */
    margin-top: 3px;
    border: 3px black solid;
    padding: 2.5px;
    /* margin-right: 90vw; */
    /* margin-left: 3.5vw; */
  }
  
  .thankYou {
    /* outline: 2px hotpink solid; */
    /* margin-bottom: 16px; */
    /* width: max-content; */
    position: absolute;
    right: 3.5vw;
  }
  
  .thankYou_sub {
    margin-top: 4px;
  }

  .generous {
    margin-top: 6px;
    width: 16.5vw;
    height: 11vw;
    outline: 3px black solid;
    padding: 2.5px;
  }
