.card-container{
    background-color: red;

    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 300px;
    height: 400px;
    margin-left: auto;
}

.img-container{
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.card-image{
    height: 100%;
    width: auto;
}
