:root{
    --card-bg-color: #fb61ba;
}

.card-container{
    background-color: var(--card-bg-color);
    display: grid;
    width: 20.25rem;;
    height: 18rem;
    grid-template-columns: 4fr 0.5fr;
    /* margin-left: auto; */
    border-radius: 1rem;
}

.img-container{
    min-height: 100%;
    min-width: 100%;

    overflow: hidden;
    border-radius: 1rem;
}

.card-image{
    height: 100%;
    width: 100%;
}

.card-body{
    width: 100%;
    overflow: hidden;
}

.card-text{
    padding: 0px 0px 0px 10px;
    transform: rotate(90deg);
    /* height: 50px; */
 
}

.card-text h5{
    width: max-content;
    /* transform: rotate(180deg); */
}
