:root{
    --card-bg-color: pink;
}

.card-container{
    background-color: var(--card-bg-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 25rem;;
    height: 20rem;
    /* margin-left: auto; */
    border-radius: 1rem;
}

.img-container{
    min-height: 100%;
    min-width: 100%;

    overflow: hidden;
    border-radius: 1rem;
}

.card-image{
    height: 100%;
    width: auto;
}

.card-body{
    width: 100%;
    overflow: hidden;
}

.card-text{
    transform: rotate(90deg);
    height: min-content;
}

.card-text h5{
    width: max-content;
}
