.createNewItem_text {
    /* margin: 0% 51% 0% 0%; */
    text-align: left;
    padding-left: 80px;
}

/* .file_descrip {
    margin: 0% 50% 0% 0%;
} */

.file_types {
    /* white-space: nowrap; */
    font-weight: normal;
    text-align: left;
    padding-left: 80px;
}


.name {
    text-align: left;
    padding-left: 80px;
}

/* .name_text {
    text-align: left;
    padding-left: 80px;
}

.name_textbox {
    padding-left: 80px;
    text-align: left;
} */

.name_textbox_size {
    width: 300px;
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name_textbox_size::placeholder {
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.description {
    font-weight: bold;
    /* margin: 0% 62% 0% 0%; */
    text-align: left;
    padding-left: 80px;
}

.description_text {
    font-weight: normal;
    margin: 0% 11% 0% 0%;
    white-space: nowrap;
}

.description_textbox{
    margin: 0% 10.5% 0% 0%;
    height: 100px;
    width: 785px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em; 
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-left: 35%; */
}

.description_textbox::placeholder {
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}