.createThing {
  /* border: red solid; */
  padding-left: 80px;
}

.createNewItem_text {
    text-align: left;
}


.file_types {
    font-weight: normal;
    text-align: left;
    padding-top: 20px;
    /* border: 1px purple solid;   */
  }
  
.file_descrip {
  /* border: 1px red solid; */
  margin-bottom: 20px;
  /* margin-top: 200px; */
}

.file_descrip_detailed {
  margin-top: 2px;
  /* border: 1px purple solid; */
  width: max-content;

}

  .removeButton {
    margin-top: 2.5px;
    /* margin-bottom:; */
    background: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.175);
    font-weight: 550;
    font-size: 14px;
    padding: 5px;
    /* border: 3px blue solid; */
}


.name {
    text-align: left;
    font-size: 21px;
    margin-top: -8px;
  /* border: 3px red solid; */
  }



.name_textbox_size {
    width: 300px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.175);
  }

.name_textbox_size::placeholder {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.tags{
    text-align: left;
}

.description {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 21px;
}

.description_text {
    font-weight: normal;
    /* margin: 0% 11% 0% 0%; */
    white-space: nowrap;
    font-size: 17px;
    /* display: inline-block; */    
}

.description_textbox{
    /* margin: 0% 10.5% 0% 0%; */
    margin-top: 2px;
    height: 100px;
    width: 832px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em; 
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.175);

}

.description_textbox::placeholder {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .App2 {
    max-height: 460px;
    /* background: #35297a; */
    display: flex;
    /* border: solid;
    border-color: darkgreen; */
  }
  

  .container {
    overflow: hidden;
    margin: 10px 0px 0px 80px;
    width: 100%;
    max-width: 400px;
    /* max-height: 900px; */
    height: auto;
    /* border: solid;
    border-color: red; */
    /* background: black; */

    
  }
  
  .errorMsg {
    color: red;
    font-size: 24px;
    margin: 3px 0;
  }
  
  .imgPreview {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #a3a3a3;
    border: dashed;

    /* border: 2px blue solid; */

    /* background: transparent; */

  }
  
  .imgPreview input[type="file"]{
    display: none;
  }
  
  .customFileUpload {
    color: #a3a3a3;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    cursor: pointer;
    /* border: dotted  ;
    border-color: blue; */
    
  }

  .fileTypeDescription {
    color: #36a4da;
    font-size: 17px;
  }

