:root{
  --pink-gradient-start: #fb61ba;
  --pink-gradient-end: #ff839d;
  --blue-gradient-start: #459bdb;
  --blue-gradient-end: #6f12e0;

  --pink-gradient: linear-gradient(290deg, var(--pink-gradient-start) 15%, var(--pink-gradient-end));
  --blue-gradient: linear-gradient(70deg, var(--blue-gradient-start) 15%, var(--blue-gradient-end));

  --sidebar-inactive: #f6e9ef;
  --sidebar-active: #fff5f7;

  --shadow-color: #88888822;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
