
.navbar {
    display: flex;
  }


.navbar-item { 
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 25px;
    font-size: 2em;
    text-decoration: inherit;
}

/*
.marketPlaceButton {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}
*/