.navbar {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 25%;

    margin: auto 0;
    height: 50vh;
    justify-content: center;
  }
  
.navbar-item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
}
